body{
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
  font-family: "Outfit",sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img{
  width:100%;
  border-radius: 10px;
}
h3{
  font-weight: 700;
  color:hsl(218, 44%, 22%)
}
p{
  font-weight: 400;
  color:hsl(220, 15%, 55%);
  font-size: 13px;
}
.box{
  width:16%;
  margin:12rem;
  background-color: white;
  padding:16px 18px 21px 18px;
  border-radius: 10px;
  text-align:center
}
